body {
  font-family: Arial;
  background: #f2f4f8;
  text-align: center;
  margin: 0;
}

header {
  background: #1e3a8a;
  color: white;
  padding: 20px;
  font-size: 22px;
}

.card {
  background: white;
  padding: 30px;
  margin: 40px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

button {
  padding: 10px 15px;
  margin: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #16a34a;
  color: white;
}
